In [ ]:
## Important Necessary Packages
# !pip install pandas matplotlib

import pandas as pd

# !pip install matplotlib

import matplotlib as plt

# !pip install kagglehub

import kagglehub

# Download latest version
path = kagglehub.dataset_download("johnsmith88/heart-disease-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\jenna\.cache\kagglehub\datasets\johnsmith88\heart-disease-dataset\versions\2

Here I am preparing the data which includes importing the set, testing variables for correlation, and researching what may be indicators for heart disease. Based on some research, exercise induced angina, or chest pain when exercising, can be an indicator of heart disease alongside other factors that seem to have a higher risk of heart disease such as age and gender.

Per this link https://www.kaggle.com/datasets/mexwell/heart-disease-dataset, the meaning of each value is as follows:

Sex: 
0 = female 
1 = male

Chest Pain Type:
1 = Typical Angina
2 = Atypical Angina
3 = Non-Anginal Pain
4 = Asymptomatic

Fasting Blood Sugar (>120 mg/dl):
0 = False
1 = True

Resting Electrocardiogram Results:
0 = Normal
1 = Having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)
2 = Showing probable or definite left ventricular hypertrophy by Estes' criteria

Exercised Induced Angina (column name exang):
0 = No
1 = Yes

The Slope of the Peak Exercise ST Segment (# oldpeak):
1 = Upsloping
2 = Flat
3 = Downsloping

Class (column name target):
0 = Normal
1 = Heart Disease

In [ ]:
# preparing data 

df = pd.read_csv('C:/Users/jenna/.cache/kagglehub/datasets/johnsmith88/heart-disease-dataset/versions/2/heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [ ]:
# visualizations 

#put age histogram here to show normal distribution with a right lean